.flex-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button-box {
    margin-top: 10px;
}

.button-box button {
    font-size: medium;
    width: 150px;
    margin: 10px;
}